<!DOCTYPE html>
<html ng-app="BsTableDirective" ng-controller="ExampleCtrl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="BsTable is an AngularJS directive which allows pagination, sorting and page size selection with data on client side." />
    <meta name="keywords" content="BsTable, directive, HTML, CSS, JS, JavaScript, bootstrap, bootswatch, front-end, frontend, web development" />
    <meta name="author" content="Jan Holinka" />
    <title>BsTable - AngularJS directive</title>
    <link type="text/css" href="http://bootswatch.com/flatly/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <link type="text/css" ng-href="{{page.Css}}" rel="stylesheet" />

        <div class="inner-container top-title">
            <h1><span>&#060table</span> bs-table<span>&#062</span></h1>
            <p><strong>AngularJS</strong> directive</p>
        </div>

        <div class="inner-container download">
            <a href="https://raw.github.com/janholinka/bs-table/master/source/bs-table.min.js" class="btn btn-primary"><strong>Download</strong></a>
            <span>or</span> 
            <a href="https://github.com/janholinka/bs-table" class="btn btn-info">view on <strong>GitHub</strong></a>
        </div>

        <div class="inner-container socials">
            <ul>
	            <li class="fb-btn"><a href="http://www.facebook.com/sharer.php" class="socialite facebook-like" data-href="http://bs-table.com" data-send="false" data-layout="button_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"></a></li>
	            <li class="tw-btn"><a href="http://twitter.com/share" class="socialite twitter-share" data-url="http://bs-table.com" data-text="BsTable - AngularJS directive. Check it out!" data-via="janholinka" data-hashtags="bs-table" rel="nofollow" target="_blank"></a></li>
	            <li class="g-btn"><a href="https://plus.google.com/share" class="socialite googleplus-one" data-size="medium" data-href="http://bs-table.com" rel="nofollow" target="_blank"></a></li>
	            <li class="in-btn"><a href="http://www.linkedin.com/shareArticle" class="socialite linkedin-share" data-url="http://bs-table.com" data-counter="right" rel="nofollow" target="_blank"></li>
            </ul>
        </div>

        <div class="inner-container sample">
            <h2 id="working-sample">Working sample</h2>
            <div class="form-group">
                <label class="control-label">Select theme:</label>
                <select class="form-control" ng-model="page.Css">
                    <option ng-repeat="theme in page.Themes" ng-selected="theme.css == page.Css" value="{{theme.css}}">{{theme.name}}</option>
                </select>
            </div>
            <table class="table table-hover table-bordered" bs-table>
                <tr ng-repeat="contact in contactList">
                    <td data-title="First name">{{contact.FirstName}}</td>
                    <td data-title="Last name">{{contact.LastName}}</td>
                    <td data-title="Born date">{{contact.BornDate | date}}</td>
                    <td data-type="command" class="action-column">
                        <button type="button" class="btn btn-info btn-sm" ng-click="Show(contact)">Show</button>
                        <button type="button" class="btn btn-info btn-sm" ng-click="Edit(contact)">Edit</button>
                        <button type="button" class="btn btn-info btn-sm" ng-click="Remove(contact)">Remove</button>
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="inner-container createdby">
            <p>Created in <a href="http://goo.gl/7bz1MF">Prague</a> by <a href="http://www.janholinka.net">Jan Holinka</a></p>
        </div>
    </div>

    <script type="text/javascript" src="Scripts/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="Scripts/angular.js"></script>
    <script type="text/javascript" src="Scripts/bs-table.min.js"></script>
    <script type="text/javascript" src="Scripts/app/App.js"></script>
    <script type="text/javascript" src="Scripts/app/Controllers.js"></script>
    <script type="text/javascript" src="Scripts/app/Services.js"></script>
    <script type="text/javascript" src="Scripts/socialite.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery.page.js"></script>
    
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(["_setAccount", "UA-44967878-2"]);
        _gaq.push(["_trackPageview"]);

	    (function() {
	       var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
	       ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
	       var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
	    })();
    </script>
</body>
</html>
